@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --react-blue: #61DAFB;
}

.react-color {
  color: var(--react-blue);
}

main {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /*background: #27292c;*/
  color: white;
}


