@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --react-blue: #61DAFB;
}

.react-color {
  color: var(--react-blue);
}

main {
  background-image: url('../assets/section_one/react-background.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /*background: #27292c;*/
  color: white;

}

.custom-list li::marker {
  color: var(--react-blue); /* React blue */
}

